<div class="wrapper">
  <div class="menu">
    <mat-sidenav-container class="example-container">
      <mat-sidenav #sidenav mode="side" opened="false">
        <p>Contenido del menú</p>





      </mat-sidenav>

      <mat-sidenav-content>
        <mat-toolbar>
          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <span>My App</span>
          <span class="example-spacer"></span>
          <button mat-icon-button>
            <mat-icon>favorite</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>share</mat-icon>
          </button>
        </mat-toolbar>
        <div>
          <!-- Contenido principal de la aplicación -->





          <p>Aquí va el contenido principal de la app.</p>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>

