<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened="false">
    <p>Contenido del menú lateral</p>
    <button mat-button (click)="sidenav.close()">Cerrar</button>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="Menu">
      <mat-icon class="slide-bar" (click)="sidenav.toggle()">horizontal_split</mat-icon>
      <div class="button-container">
        <button mat-button>Basic</button>
        <button mat-button>Basic</button>
        <button mat-button>Basic</button>
        <button mat-button>Basic</button>
        <button mat-button>Basic</button>
      </div>
      <mat-icon class="home-icon" (click)="goBack()">home</mat-icon>
    </div>
    <div class="main-container">
      <H2>Pagina de inicio</H2>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
